<div class="center" style="height: 100vh;">
    <div class="container" style="text-align: center;">
        <h1 class="display-1"><span>&#9827;</span></h1>
        <h1 class="display-5">About</h1>
        <p class="lead">
            Version: Open Beta 0.1 - 20.01.2019<br>
            <a href="https://github.com/scrumroyal" target="_blank" style="color: black"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/scrumroyal" target="_blank" style="color: black"><i class="fab fa-twitter"></i></a>
            <a href="mailto: support@scrumroyal.com" style="color: black"><i class="fas fa-envelope"></i></a><br><br>
            <h1 class="display-5">Thanks</h1>
            <a href="https://github.com/oktykrk" target="_blank" style="color: black">Oktay</a><br><br>

            © 2019 ScrumRoyal<br>
        </p>
    </div>
</div>