<div class="back">
        <div class="div-center">
            <div class="content">
                <h3>Join Session</h3>
                <hr />
                <form>
                    <div class="form-group">
                        <label for="inputSessionID">Session ID</label>
                        <input type="text" class="form-control" id="inputSessionName" placeholder="Enter session id">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkIsPrivate">
                        <label class="form-check-label" for="checkIsPrivate">Password Protection</label>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
    
                    <button type="submit" class="btn btn-primary">CREATE</button>
                    <hr />
                    <button type="button" class="btn btn-link">Main Page</button>
                    <button type="button" class="btn btn-link">Help</button>
                </form>
            </div>
        </div>
    </div>