<div class="container-fluid">
    <div class="col">
        <div class="row" style="padding-top: 15px">
            <div class="jumbotron w-100">
                <h1 class="display-4">ScrumRoyal</h1>
                <p class="lead">An online web application of planning poker for scrum teams to estimate stories.</p>
                <hr class="my-4">
                <p>Create a new session or join!</p>
                <a href="#!/create" class="btn btn-primary btn-lg" role="button">CREATE</a>
                <a href="#!/join" class="btn btn-success btn-lg" role="button">JOIN</a>
            </div>
        </div>

        <div class="row">
            <div class="col p-0">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">Free To Use</h5>
                                    <span style="font-size: 3rem;">
                                        <i class="fas fa-users"></i>
                                    </span>
                                    </span>
                                    <p class="card-text">No limitation, registration and ads.</p>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">Customize Session</h5>
                                    <span style="font-size: 3rem;">
                                        <i class="fas fa-sliders-h"></i>
                                    </span>
                                    </span>
                                    <p class="card-text">Set your own rules.</p>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">Export The Results</h5>
                                    <span style="font-size: 3rem;">
                                        <i class="fas fa-file-download"></i>
                                    </span>
                                    </span>
                                    <p class="card-text">Download the results.</p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 15px; padding-bottom: 15px">
            <div class="card">
                <div class="card-header">
                    <b>What is Scrum poker?</b>
                </div>
                <div class="card-body">
                    <p class="card-text">Scrum poker, also called Planning poker, is a consensus-based, gamified
                        technique for
                        estimating, mostly used to estimate effort or relative size of development goals.
                        In planning poker, members of the group make estimates by playing numbered cards face-down to
                        the
                        table,
                        instead of speaking them aloud. The cards are revealed, and the estimates are then discussed.
                        By hiding
                        the
                        figures in this way, the group can avoid the cognitive bias of anchoring, where the first
                        number spoken
                        aloud sets a precedent for subsequent estimates.</p>
                </div>
            </div>
        </div>
    </div>

</div>




<!--
NEW SESSION
<form ng-submit="newSession()">
    Enter text and hit enter:
    <br><label for="create.title">Title: </label><input type="text" ng-model="create.title" name="create.title" ng-required="true" />
    <br><label>isPrivate:
        <input type="checkbox" ng-model="create.isPrivate">
    </label>
    <br><label for="create.password" ng-show="create.isPrivate">Password: </label><input type="password" ng-model="create.password" name="create.password" ng-required="create.isPrivate" ng-show="create.isPrivate" />    

    <select ng-model="create.cardSet">
        <option ng-repeat="set in cardSet track by $index" ng-value="$index">{{set.type}}</option>
    </select>

    <br></be><label>CardLimit:
        <input type="checkbox" ng-model="create.cardLimit">
    </label>

    <br><label for="create.username">Username: </label><input type="text" ng-model="create.username" name="create.username" ng-required="true" />
    <br><label for="create.title">Title: </label><input type="submit" id="submitNewS" value="Submit" />
</form>
<label ng-show="createMessage" >{{createMessage}}</label>

<br>
<br>
<br>

JOIN SESSION
<form ng-submit="joinSession()">
    Enter text and hit enter:
    <br><label for="join.sessionId">SessionId: </label><input type="text" ng-model="join.sessionId" name="join.sessionId" ng-required="true" />
    <br><label>isPrivate:
        <input type="checkbox" ng-model="join.isPrivate">
    </label>
    <br><label for="join.password" ng-show="join.isPrivate" >Password: </label><input type="password" ng-model="join.password" name="join.password" ng-required="join.isPrivate" ng-show="join.isPrivate" />
    <br><label for="join.username">Username: </label><input type="text" ng-model="join.username" name="join.username" ng-required="true" />
    <br><input type="submit" id="submitJoin" value="Submit" />
</form>

<label ng-show="joinMessage" >{{joinMessage}}</label>