<style>
    .royal-board {
        background-image: radial-gradient(circle, #0caf50, #00a651);
    }

    .royal-board-title {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
        color: #fafafa;
    }

    .side-list-container {
        overflow: auto !important;
    }

    .pcard-container {
        position: relative;
    }

    .pcard {
        position: relative;
        margin: 10px;
        font: inherit;
        width: 75px;
        height: 110px;
        border-radius: 5px;
        background: white;
        -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
        transition: all .5s ease-in-out;
    }

    .pcard:not(:last-child) {
        margin-right: 0;
    }

    .pcard.grow-on-hover:hover {
        transform: translateY(-15px);
        cursor: pointer;
    }

    .pcard.selected {
        transform: translateY(-15px);
        box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.50);
    }

    .pcard p {
        text-align: center;
        font: 50px/110px Georgia, serif;
        margin: 0;
    }

    .suitdiamonds:before,
    .suitdiamonds:after {
        content: "♦";
        color: #ff0000;
    }

    .suithearts:before,
    .suithearts:after {
        content: "♥";
        color: #ff0000;
    }

    .suitclubs:before,
    .suitclubs:after {
        content: "♣";
        color: #000;
    }

    .suitspades:before,
    .suitspades:after {
        content: "♠";
        color: #000;
    }

    div[class*='suit']:before {
        position: absolute;
        font-size: 24px;
        left: 5px;
        top: 0;
    }

    div[class*='suit']:after {
        position: absolute;
        font-size: 24px;
        right: 5px;
        bottom: 0;
    }
</style>
<div class="d-flex flex-column flex-1 royal-board-container">
    <div class="d-flex flex-row flex-1">
        <div class="d-flex flex-column w-80 royal-board">
            <div class="d-flex p-2 lead royal-board-title">
                <strong>{{title}}</strong>
            </div>

            <!-- ROYAL BOARD CONTENT -->
            <div class="d-flex flex-column flex-1">

                <div class="d-flex flex-row justify-content-center pcard-container">
                    <div class="pcard suitdiamonds">
                        <p>A</p>
                    </div>
                    <div class="pcard suithearts">
                        <p>A</p>
                    </div>
                    <div class="pcard suitclubs">
                        <p>A</p>
                    </div>
                    <div class="pcard suitspades">
                        <p>A</p>
                    </div>
                </div>

            </div>

            <!-- BOTTOM CARD AREA -->
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-center pcard-container">
                    <div tabindex="1" ng-click="selectCard(1)" ng-class="selectedCard === 1 ? 'selected' : ''" class="pcard grow-on-hover suitdiamonds">
                        <p>A</p>
                    </div>
                    <div tabindex="2" ng-click="selectCard(2)" ng-class="selectedCard === 2 ? 'selected' : ''" class="pcard grow-on-hover suithearts">
                        <p>A</p>
                    </div>
                    <div tabindex="3" ng-click="selectCard(3)" ng-class="selectedCard === 3 ? 'selected' : ''" class="pcard grow-on-hover suitclubs">
                        <p>A</p>
                    </div>
                    <div tabindex="4" ng-click="selectCard(4)" ng-class="selectedCard === 4 ? 'selected' : ''" class="pcard grow-on-hover suitspades">
                        <p>A</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="flex-1"></div>
                    <button class="btn btn-light m-2">Select Card</button>
                    <button class="btn btn-light m-2">Reset</button>
                    <button class="btn btn-light m-2">Open</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-20">
            <div class="d-flex flex-column flex-1">
                <p class="lead m-0 p-2 bg-light"><b>Users</b></p>
                <ul class="list-group list-group-flush flex-1 side-list-container pt-3 pb-3 pl-2 pr-2">
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <!-- TMP -->
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="user in users track by $index">
                        <span ng-show='user.isAdmin'>★</span>{{user.username}}
                    </li>
                    <!-- TMP -->
                </ul>
            </div>
            <div class="d-flex flex-column flex-1">
                <p class="lead m-0 p-2 bg-light"><b>Info</b></p>
                <ul class="list-group flex-1 list-group-flush side-list-container pt-3 pb-3 pl-2 pr-2">
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <!-- TMP -->

                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <li class="list-group-item" style="padding: 5px" ng-repeat="item in info track by $index">
                        <span>{{item}}</span>
                    </li>
                    <!-- TMP -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!--
<div ng-show="isLoggedIn">
    {{title}}


    <br>
    CARDS:
    <ul>
        <li ng-repeat="user in users track by $index">
            <div>
                <span ng-style="{color: (user.cardSelected == true) ? 'red' : 'black'};">
                    {{user.username}} </span> - <span>{{user.score}}</span>
                <br>
        </li>
    </ul>


    <br>
    <br>

    <div ng-repeat="card in cards track by $index">
        <input type="checkbox" ng-model="card.selected" ng-change="checkChanged(card)" ng-disabled="(checked==limit && !card.selected) || (lockAll && !card.selected) || (lockSpecial && card.specialCard)" />
        <span ng-style="{color: (card.confirmed == true) ? 'red' : 'black'};">{{card.value}}</span>
    </div>

    <br>

    <button type="button" ng-click="confimCardSelection()">Confim Card Selection!</button>

    <button type="button" ng-click="resetCardSelection()">Reset Card Selection!</button>

    <button type="button" ng-click="openCards()" ng-show="isAdmin">Open Cards!</button>

    <br>

    Users:
    <ul>
        <li ng-repeat="user in users track by $index">
            <div>
                <div ng-show='user.isAdmin'>★</div> <span>
                    {{user.username}} </span>
                <br>
        </li>
    </ul>

    <br><br><br>
    Info:
    <ul>
        <li ng-repeat="item in info track by $index">
            <span>{{item}}</span>
        </li>
    </ul>



</div>
-->